{% extends 'orgs/main.html' %}

{% block content %}
<a href="/" class="btn btn-outline-secondary btn-sm">&laquo; Back</a>

<h1>Component List for {{ asset }}</h1>

<!-- convert to JSData Table ?-->
<div class="card card-body">
    <table class="table table-sm">
        <tr>
            <th>Unit</th>
            <th>Function</th>
            <th>Asset</th>
            <th>Component</th>
        </tr>

        {% for unit in units %}
            <tr>
                <td>{{unit.name}}</td>
                <td>{{unit.function}}</td>
                <td>{{unit.asset}}</td>
                <td><a href="/unit/{{unit.id}}">{{unit.component}}</a></td>
            </tr>
        {% endfor %}
    </table>
</div>



{% endblock content %}