<!DOCTYPE html>
<html>

  <div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="renameModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="renameModalLabel">Rename {{node.original.text}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" id="renameForm">
            {% csrf_token %}
            <div class="form-group">
              <label for="newNameInput">New Name:</label>
              <input type="text" class="form-control" id="newNameInput" required>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  

  <div class="container-fluid">
    <div class="row">
      <div>
        <div id="tree-container" class="card" style="width: 15rem;">
          <div class="card-header bg-danger">
            <h2 class="card-title">MDI</h2>
          </div>
          <div class="card-body">
            <!-- Use Bootstrap icons for the tree nodes -->
            <input type="text" id="tree-search-input" placeholder="Search..." />
            <br>
            <br>
            <div id="jstree"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  $(document).ready(function() {
    $.ajax({
      type: 'GET',
      url: '/unit_tree_data/',
      dataType: 'json',
      success: function(data) {
        //jstree config
        $('#jstree').jstree({
          'plugins': ['contextmenu', 'wholerow', 'search', 'state'],//state
          core: {
            data: data,
            themes:{
              icons: true
            },
            
          },
          search: {
            case_sensitive: false,
            show_only_matches: true
          },
          contextmenu: {
            items: function(node) {
              var items = {
                "enter": {
                  "label": "Query",
                  "icon": 'bi bi-plus-square',
                  "action": function() {
                    enterNode(node);
                  }
                },
                "rename": {
                  "label": "Rename",
                  "action": function() {
                    renameNode(node);
                  }
                },
                "create": {
                  "label": "Create New",
                  "icon": 'bi bi-plus-square',
                  "action": function() {
                    createNode(node);
                  }
                },
                "delete": {
                  "label": "Delete",
                  "action": function() {
                    deleteNode(node);
                  }
                }
              };
          
              return items;
            }
          }
        });
       /* $('.tree-search-input').on('input', function() {
          var searchString = $(this).val();
          $('#tree-container').jstree("search", searchString);
        });*/

      },
      error: function() {
        alert('Error Loading Hierarchy Tree. Go Home to Refresh');
        $('#tree-container').jstree("refresh");
      }
    });
  });

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  function createNode(node) {
    var newNode = {

    }
  }

  function enterNode(node) {
    //console.log("Enter node");
    console.log(node);
      var level = node.parents.length;

      if(level == 1) {//company
        console.log(" 1");
      } else if (level == 2) {//function
        console.log(" 2");
      } else if (level == 3) {//asset
        console.log(" 3");
        //var node_id = 0;
        //if(node.original.comps) {node_id = node.original.comps[0].faid}
        window.location = '/asset/' + node.original.faid + '/';
        window.history.pushState("", "", "/asset/" + node.original.faid + '/');
        //data.instance.deselect_node(node);
      } else {//component/unit
        console.log(level);
        window.location = '/unit/' + node.original.faid;
        window.history.pushState("", "", "/unit/" + node.original.faid);
        //data.instance.deselect_node(node);
      }
  }

  function renameNode(node) {
    var level = node.parents.length;
  
    // Open the Bootstrap modal for renaming
    $('#renameModal').modal('show');
  
    // Handle form submission
    $('#renameForm').on('submit', function(event) {
      event.preventDefault();
      var newName = $('#newNameInput').val();
  
      // Send the Ajax POST request to update the node name
      $.ajax({
        url: '/rename/' + node.original.faid + '/',
        type: 'POST',
        data: {
          'new_name': newName,
          'level': level,
      
        },
        dataType: 'json',
        beforeSend: function(xhr, settings) {
          // Retrieve the CSRF token from the cookie
          var csrfToken = getCookie('csrftoken');
          // Set the CSRF token in the request header
          xhr.setRequestHeader('X-CSRFToken', csrfToken);
        },
        success: function(response) {
          // Handle the response from the server
          // Close the Bootstrap modal
          $('#renameModal').modal('hide');
          $('#newNameInput').val('');
          // Update the jstree node name
          window.location.reload();
          
        },
        error: function(response) {
          // Handle the error response
          // Show an error message or perform any other necessary actions
          alert("Error Renaming Node!")
        }
      });
    });
  }
  
/*
  $(document).ready(function() {
    $('#tree-search-input').on('input', function() {
      var searchString = $(this).val();
      $('#tree-container').jstree("search", searchString);
    });
  });*/
  </script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.11/jstree.min.js"></script>
  <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.8/themes/default/style.min.css"/-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>