{% extends 'orgs/main.html' %}

{% block content %}
{% if unit.name %}
    <h1>{{unit.name}} {{unit.component}}</h1>
    <div class="card card-body">
        <table class="table table-sm">
            <tr>
                <th>Unit</th>
                <th>Function</th>
                <th>Asset</th>
                <th>Component</th>
            </tr>
            <tr>
                <td>{{unit.name}}</td>
                <td>{{unit.function}}</td>
                <td>{{unit.asset}}</td>
                <td>{{unit.component}}</td>
            </tr>
        </table>
    </div>

    <h1>Condition Assessment Entries</h1>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>

    <br>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-issue-modal">
        Create Entry
    </button>
    <!-- Create Report Form -->
    <div class="modal fade" id="add-issue-modal" tabindex="-1" role="dialog" aria-labelledby="add-issue-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="add-issue-modal-label">Create a new Condition Assessment</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="technology">Technology:</label>
                  <input class="form-control" id="technology" name="technology" list=technologyList required>
                  <datalist id="technologyList">
                    {% for tech in technology %}
                      <option value="{{ tech.name }}">{{ tech.name }}</option>
                    {% endfor %}
                  </datalist>
                </input>
                </div>
                <div class="form-group">
                  <label for="analysts">Analyst:</label>
                  <input class="form-control" id="analysts" name="analysts" list=analystList required>
                  <datalist id="analystList">
                    {% for analyst in analysts %}
                      <option value="{{ analyst.name }}">{{ analyst.name }}</option>
                    {% endfor %}
                  </datalist>
                </input>
                </div>
                <div class="form-group">
                  <label for="severity">Severity:</label>
                  <input class="form-control" id="severity" name="severity" list=severityList required>
                  <datalist id="severityList">
                    {% for severity in severities %}
                      <option value="{{ severity }}">{{ severity }}</option>
                    {% endfor %}
                  </datalist>
                </input>
                </div>
                <div class="form-group">
                  <label for="entryDate">Entry Date:</label>
                  <input class="form-control" id="entryDate" name="entryDate" type="date" required></input>
                </div>
                <div class="form-group">
                  <label for="workReq">Work Request:</label>
                  <input class="form-control" id="workReq" name="workReq"></input>
                </div>
                <div class="form-group">
                  <label for="workOrder">Work Order:</label>
                  <input class="form-control" id="workOrder" name="workOrder"></input>
                </div>
                <div class="form-group">
                  <label for="faults">Faults:</label>
                  <textarea class="form-control" id="faults" name="faults"></textarea>
                </div>
                <div class="form-group">
                  <label for="recommendations">Recommendation(s):</label>
                  <textarea class="form-control" id="recommendations" name="recommendations"></textarea>
                </div>
                <div class="form-group">
                  <label for="comments">Comments:</label>
                  <textarea class="form-control" id="comments" name="comments"></textarea>
                </div>
                <div class="form-group">
                  <label for="linkedDocs">Linked Documents:</label>
                </div>
                <div class="form-group">
                  <label for="messages">Email SMS Details:</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    <a class="btn btn-outline-secondary" href="#" role="button" type="file">Import Entry</a>
    <br>
    {% if reports %}
        <br>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                  <th>ID</th>
                  <th>Entry Date</th>
                  <th>Severity</th>
                  <th>Analyst</th>
                  <th>pdf</th>
                  <th>Details</th>
                </tr>
                {% for report in reports %}
                    <tr>
                      <td>{{report.id}}</td>
                      <td>{{report.condition.entry_date}}</td>
                      <td>{{report.condition.severityLevel}}</td>
                      <td>{{report.condition.analyst}}</td>
                      <td><a class="btn btn-outline-danger" href="{% url 'generate_pdf' report_ids=report.id %}?format=pdf" target="_blank">pdf</a></td>
                      <td><a class="btn btn-info" href="{% url 'detailed_condition' report.id %}" target="_blank">Details</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
          var severity_labels = {{ severity_labels|safe }};
          var severity_data = {{ severity_data|safe }};
          var backgroundColors = {
            'LOW': 'cyan',
            'MEDIUM': 'yellow',
            'MED-HIGH': 'purple',
            'HIGH': 'red',
            'MISSED': 'grey',
            'GOOD': 'green',
          };
          var backgroundColor = severity_labels.map(function(label){
            return backgroundColors[label];
          });
          var ctx = document.getElementById('myChart').getContext('2d');
          var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
              labels: severity_labels,
              datasets: [{
                label: '# of Reports',
                data: severity_data,
                backgroundColor: backgroundColor,
                borderWidth: 1
              }]
            },
            options: {
              responsive: true,
              aspectRatio: 1.5
            }
          });
        </script>
{% endif %}

{% else %}
    <h1>Should return to home</h1>
{% endif %}

{% endblock content %}